{% extends 'students/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'students/css/login.css' %}">
{% endblock %}

{% block content %}

<div class="login-wrapper">

    <div class="login-card">

        <div class="text-center mb-4">

            <div class="login-icon">
                📚
            </div>

            <h2>Library Management</h2>

            <p>Student Login Portal</p>

        </div>

        <!-- Messages -->
        {% if messages %}
        {% for message in messages %}

        <script>
            Swal.fire({
                icon: "{% if message.tags == 'error' %}error{% else %}success{% endif %}",
                title: "{{ message }}",
                showConfirmButton: false,
                timer: 2000
            });
        </script>

        {% endfor %}
        {% endif %}

        <form method="POST">

            {% csrf_token %}

            <div class="mb-3">
                <label>Username</label>
                <input type="text" name="username" class="form-control" placeholder="Enter Username" required>
            </div>

            <div class="mb-3">
                <label>Password</label>
                <input type="password" name="password" class="form-control" placeholder="Enter Password" required>
            </div>

            <button class="btn btn-primary w-100 mt-3">
                Login
            </button>

        </form>

        <div class="text-center mt-4">
            <p class="mb-0 text-light">
                New Student?
                <a href="{% url 'signup' %}" class="signup-linknew">
                    Create Your Account →
                </a>
            </p>
        </div>

    </div>

</div>

{% endblock %}